---
import Layout from '../layouts/Layout.astro';
import Badge from  '../components/Badge.astro';
import GitHub from  '../icons/GitHub.astro';
import Linkedin from  '../icons/LinkedIn.astro';
import Gmail from  '../icons/Gmail.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Porfolio Greta Tarabelli - Front-End Developer">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">

	<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey Soy Greta Tarabelli
		<a href="https://www.linkedin.com/in/greta-tarabelli/"
		target="_blank"
		rel="noopener"
		class="flex justify-center items-center">
		<Badge> Disponible para trabajar</Badge>	
		</a>
	</h1>	
	<h2 class="text-xl opacity-80">Soy desarrolladora web Full Stack especializada en Frontend, con una sólida experiencia en JavaScript y TypeScript, y el dominio de frameworks modernos como React y Next.js. Mi enfoque está en crear interfaces dinámicas, intuitivas y optimizadas que ofrezcan una experiencia de usuario excepcional.</h2>	
		
<ul>
	<nav class="flex gap-x-2">
		
		<a href="https://github.com/gtgretatarabelli" class=" flex bg-white/5 border border-white/10 rounded-full justify-center items-center gap-x-2 py-2 px-4 transition hover:scale-110 hover:bg-white/10 ">
			<GitHub class="w-6 h-6"/>
			GitHub</a>

			<a href="https://www.linkedin.com/in/greta-tarabelli/" class="flex  bg-white/5 border border-white/10 rounded-full justify-center items-center gap-x-2 py-2 px-4 transition hover:scale-110 hover:bg-white/10 ">
				<Linkedin class="w-6 h-6"/>
				Linkedin</a>
		

				<a href="https://www.linkedin.com/in/greta-tarabelli/" class=" flex bg-white/5 border border-white/10 rounded-full justify-center items-center gap-x-2 py-2 px-4 transition hover:scale-110 hover:bg-white/10 ">
					<Gmail class="w-6 h-6"/>
					gretatarabelli9@gmail.com</a>

	</nav>
</ul>

</section>

	</main>
</Layout>
