<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src="greta.jpeg" alt="greta photo" />

    <nav class="flex flex-row gap-x-10">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contacts">Contacts</a>
    </nav>
</header>
