---
import Header from "../components/Header.astro"
const {title} = Astro.props
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="content">
      <slot />
      <Footer/>
    </main>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: system-ui, sans-serif;
     scroll-behavior:smooth;
  }

  body {
    background: #050505;
	color: aliceblue;
	display: flex;
	flex-direction: column;
	height: 100vh;

  }
@media (prefers-reduced-motion:reduce){
  html{
     scroll-behavior:smooth;
  }
}
  
</style>
